.row{
    display: flex;
    justify-content: center;
    
}

body{
    background-color: pink;
}

.containLeft{
    height: 110px;
    width: 30%;
    border: 1px solid white;
    background-color: rgba(255, 0, 0, 0.738);
    margin-left: auto;
    display: flex;
    border-radius: 8px;
    justify-content: center;
}

.containMid{
    height: 110px;
    width: 30%;
    border: 1px solid white;
    background-color: rgb(138, 103, 213);
    border-radius: 9%;
    
    text-decoration: underline white;
   
    display: flex;
    justify-content: center;
    align-content: center;   
    margin: 0%;
    padding: 0%;
}

.containRight{
    height: 110px;
    width: 30%;
    border: 1px solid white;
    background-color: rgba(53, 219, 53, 0.731);
    margin-right: auto;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.contentButton{
    outline: none;
    border: none;
    background-color: inherit;
    font-size: xx-large;
    color: white;
    font-weight: bold;
}

.imageLeft{
    
}


/* @media screen 600px () */
.plusButton img{
    width:100px;
    justify-self: center;
    align-self: center;
    margin: auto;
    background-color: rgb(36, 207, 36);
    padding: 0%;
}

.minusButton img{
    width: 100px;
    justify-self: center;
    align-self: center;
    margin: auto;
    background-color: rgb(251, 78, 78);
    padding: 0%;
}



/*TEST SECTION*/

.testLeft{

}

.icon{
    width: 10px;
}